doctype html
html
head
  title
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='chrome=1')
  //
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  //
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  //
    This one seems to work all the time, but really small on ipad
  //
    <meta name="viewport" content="initial-scale=0.4">
  meta(name='apple-mobile-web-app-capable', content='yes')
  link(rel='stylesheet', media='all', href='/libs/io-2012-slides/theme/css/default.css')
  link(rel='stylesheet', media='only screen and (max-device-width: 480px)', href='/libs/io-2012-slides/theme/css/phone.css')
  base(target='_blank')
  //
     This amazingness opens all links in a new tab. 
  script(data-main='/libs/io-2012-slides/js/slides', src='/libs/io-2012-slides/js/require-1.0.8.min.js')

body(style='opacity: 0;')
  slides.layout-widescreen
    each val in directories
      slide.fill.nobackground(style='background-image: url('+val+');')
    slide.backdrop
  //if IE
    script(src='http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js')
    script
      CFInstall.check({mode: 'overlay'});
