.footer
  .container
    .logo WeActivity
    .links
      ul
        li
          a(href="/") Home
        li
          a(href="/explore") Explore
        li
          a(href="#") About us
    .copyright
      | Copyright © 2014 PotatoNi. All rights reserved.

