.footer
  .container
    .logo WeActivity
    .links
      ul
        li
          a(href="#") Home
        li
          a(href="#") Home
        li
          a(href="#") Home
    .copyright 
      | Copyright © 2014 PotatoNi. All rights reserved.

