header.navbar.navbar-inverse.bs-docs-nav.navbar-fixed-top(role="banner")
  .container
    .navbar-header
      button.navbar-toggle(type="button", data-toggle="collapse", data-target=".bs-navbar-collapse")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="/") WeActivity

    nav.collapse.navbar-collapse.bs-navbar-collapse.navbar-right(role="navigation")
      ul.nav.navbar-nav
        li
          a(href="/") Home
        li
          a(href="/explore") Explore
        li
          a(href="/login") Sign In
        li
          a(href="/login") Sign Up
        // after sign in
        li
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | MyUsername
            b.caret
          ul.dropdown-menu
            li
              a(href='#') Profile
            li
              a(href='#', data-toggle='modal', data-target='#modal-post-activity') Publish activity
            li.divider
            li
              a(href='#') Logout



