/**
 * Created by van on 14-4-20.
 */
@import "compass/css3";
@import "navbar";

/* wrap */
$footer-height: 100px;
#wrap {
  min-height: 100%;
  padding-bottom: $footer-height;
}

// content
#content {
  padding-top: 60px;
  margin-bottom: 10px;
}

// footer
.footer {
  background: #ffffff;
  color: #444;
  padding-top: 20px;
  height: $footer-height;
  margin-top: -$footer-height;

  .logo {
    float: left;
    margin-right: 10px;
  }

  .links {
    ul > li {
      @include inline-block;

      + li {
        padding-left: 10px;
      }
    }
  }

  .copyright {
    padding-top: 10px;
  }
}