/**
 * Created by van on 14-6-19.
 */

//.page-header {
//  margin: 0;
//  padding: 0 20px;
//  border-bottom: 1px solid #ddd;
//
//  .tabs {
//    padding: 10px 0;
//
//    .tab {
//      display: inline;
//
//      +.tab {
//        padding-left: 15px
//      }
//    }
//  }
//}

.page-header {
  margin: 0;
  padding: 10px 20px;
  font-size: 25px;
  color: #777;
  border-bottom: 1px solid #ddd;
}