<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Try</title>
  <!-- Sets initial viewport load and disables zooming  -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/dist/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/dist/slick.css"/>
  <link rel="stylesheet" href="/stylesheets/dist/font-awesome.css"/>
  <link rel="stylesheet" href="/stylesheets/site.css"/>
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
  <!--[if lt IE 9]>
  <link rel="stylesheet" href="../stylesheets/dist/font-awesome-ie7.css"/>
  <link rel="stylesheet" href="../stylesheets/ie.css"/>
  <script src="../javascripts/html5shiv.js"></script>
  <script src="../javascripts/respond.min.js"></script>
  <![endif]-->
</head>
<body>

<div id="wrap">
  <header class="navbar navbar-inverse bs-docs-nav navbar-fixed-top" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse"
                data-target=".bs-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand">WeActivity</a>
      </div>
      <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group search-only">
            <i class="search-icon icon-search"></i>
            <input type="text" class="form-control" placeholder="Search">
          </div>
        </form>
        <ul class="nav navbar-nav">
          <li>
            <a href='/index'>Home</a>
          </li>
          <li>
            <a href='/explore'>Explore</a>
          </li>
          <li>
            <a href='/try'>Try it!</a>
          </li>
          <li>
            <a href="/signin">
              Signin<span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/signup">Sign Up!</a></li>
              <li><a href="#">Another action</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <div id="content" class="container">
    <ul class="steps">
      <li id="one" class="step">
        <p>First Step, Upload Your Slides</p>
        <input type="file" class="btn-default"/>
      </li>
      <li id="two" class="step">
        <p>Second Step, Enter into Controlling Page:</p>
        <a href="">http://www.example.com</a>
      </li>
      <li id="three" class="step">
        <p>Finally, Share the Url or the QR Code to Your Audience</p>
        <div class="">
          <img src="">
          <a></a>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="footer">
  <div class="container">
    <div class="logo">
      WeActivity
    </div>
    <div class="links">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">Home</a></li>
      </ul>
    </div>
    <div class="copyright">
      Copyright © 2014 PotatoNi. All rights reserved.
    </div>
  </div>
</div>

<script src="/javascripts/jquery-1.11.0.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/site.js"></script>
</body>
</html>
