<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
</head>
<body>
<form action="/upload" method="post" role="form" enctype="multipart/form-data">
  <div class="form-group">
    <label for="">File input</label>
    <input type="file" name="test">
  </div>
  <button class="btn btn-default" type="submit">submit</button>
</form>
</body>
</html>
