extends ../layouts/default

block main
  #content.container
    ul#activity-list.activity-list
      li.list-item
        .activity
          a.shot(href='#')
            img.photo(src='./img/Jumbotron.jpg')
            .item-description
              .item-title title
              .item-content contentcontentcontentcontentcontentcontentcontentcontentcontent
          ul.toolbar
            li This is toolbar part
        .item-footer
          a.publisher(href='#') testuser
      li.list-item
        .activity
          a.shot(href='#')
            img.photo(src='./img/Jumbotron.jpg')
            .item-description
              .item-title title
              .item-content contentcontentcontentcontentcontentcontentcontentcontentcontent
          ul.toolbar
            li This is toolbar part
        .item-footer
          a.publisher(href='#') testuser
      li.list-item
        .activity
          a.shot(href='#')
            img.photo(src='./img/Jumbotron.jpg')
            .item-description
              .item-title title
              .item-content contentcontentcontentcontentcontentcontentcontentcontentcontent
          ul.toolbar
            li This is toolbar part
        .item-footer
          a.publisher(href='#') testuser
      li.list-item
        .activity
          a.shot(href='#')
            img.photo(src='./img/Jumbotron.jpg')
            .item-description
              .item-title title
              .item-content contentcontentcontentcontentcontentcontentcontentcontentcontent
          ul.toolbar
            li This is toolbar part
        .item-footer
          a.publisher(href='#') testuser
  .pagination
    a.btn-prev(href='#')
    a.btn-next(href='#')
