extends ../layouts/default

block main
  #content.container
    //.page-header
    //  ul.tabs
    //    li.tab.active
    //      | Calendar
    //    li.tab
    //      a(href='#') Gallery
    //#calendar
    //.page-header
    //  ul.tabs
    //    li.tab
    //      a(href='#') Calendar
    //    li.tab.active
    //      | Gallery
    .page-header Explore
    ul#activity-list.activity-list
      li.list-item
        .activity
          a.shot(href='#')
            img.photo(src='./img/Jumbotron.jpg')
            .item-description
              .item-title title
              .item-content contentcontentcontentcontentcontentcontentcontentcontentcontent
          //ul.toolbar
          //  li This is toolbar part
        .item-footer
          a.publisher(href='#') testuser
      li.list-item
        .activity
          a.shot(href='#')
            img.photo(src='./img/Jumbotron.jpg')
            .item-description
              .item-title title
              .item-content contentcontentcontentcontentcontentcontentcontentcontentcontent
          //ul.toolbar
          //  li This is toolbar part
        .item-footer
          a.publisher(href='#') testuser
      li.list-item
        .activity
          a.shot(href='#')
            img.photo(src='./img/Jumbotron.jpg')
            .item-description
              .item-title title
              .item-content contentcontentcontentcontentcontentcontentcontentcontentcontent
          //ul.toolbar
          //  li This is toolbar part
        .item-footer
          a.publisher(href='#') testuser
      li.list-item
        .activity
          a.shot(href='#')
            img.photo(src='./img/Jumbotron.jpg')
            .item-description
              .item-title title
              .item-content contentcontentcontentcontentcontentcontentcontentcontentcontent
          //ul.toolbar
          //  li This is toolbar part
        .item-footer
          a.publisher(href='#') testuser
      li.list-item
        .activity
          a.shot(href='#')
            img.photo(src='./img/Jumbotron.jpg')
            .item-description
              .item-title title
              .item-content contentcontentcontentcontentcontentcontentcontentcontentcontent
          //ul.toolbar
          //  li This is toolbar part
        .item-footer
          a.publisher(href='#') testuser
  .pagination
    a.btn-prev(href='#')
    a.btn-next(href='#')
