doctype html
html(lang="en")
  include ../includes/head
  body
    #wrap
      header.navbar.navbar-transparent.navbar-absolute-top.bs-docs-nav(role='banner')
        .container
          .navbar-inner
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='.bs-navbar-collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='/') WeActivity
            nav.collapse.navbar-collapse.bs-navbar-collapse.navbar-right(role='navigation')
              form.navbar-form.navbar-left(role='search')
                .form-group.search-only
                  i.search-icon.icon-search
                  input.form-control(type='text', placeholder='Search')
              ul.nav.navbar-nav
                li
                  a(href='/') Home
                li
                  a(href='/explore') Explore
                li
                  a(href='/tryit') Try it!
                li
                  a(href='/login')
                    | Signin
                    span.caret
                  ul.dropdown-menu(role='menu')
                    li
                      a(href='/signup') Sign Up!
                    li
                      a(href='#') Another action
      #main
        .full-width-slider
          .slider.single-item
            .slide-1
            .slide-2
      .push
      .container
        ul.intro-list
          li.intro-item
            .intro-photo
              img(src='/img/Jumbotron.jpg')
            .intro-contents
              h1 Implementing the HTML and CSS into your user interface project
              h2 HTML Structure
              p
                | This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
                | featured
                | content or information.
              h2 CSS Structure
              p
                | This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
                | featured
                | content or information.
          li.intro-item
            .intro-photo
              img(src='/img/Jumbotron.jpg')
            .intro-contents
              h1 Implementing the HTML and CSS into your user interface project
              h2 HTML Structure
              p
                | This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
                | featured
                | content or information.
              h2 CSS Structure
              p
                | This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
                | featured
                | content or information.
          li.intro-item
            .intro-photo
              img(src='/img/Jumbotron.jpg')
            .intro-contents
              h1 Implementing the HTML and CSS into your user interface project
              h2 HTML Structure
              p
                | This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
                | featured
                | content or information.
              h2 CSS Structure
              p
                | This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
                | featured
                | content or information.

    include ../includes/footer
    include ../includes/foot

    script.
      $('.single-item').slick({
        dots: true,
          responsive: {
            settings: {
              dots: true
            }
          }
      });
