extends ../layouts/default
block main
  #content.container
    .steps-header GET STARTED
    ul.steps
      li#step-upload.step
        .header Publish Your Slides
        .content
          input#input-select-file.hidden(type="file", data-url="/tryit/new", name="slide")
          #dropzone.dropzone.dropzone-normal
            span Drop Your File Here!
            button#btn-select-file.btn.btn-primary.btn-lg Select a file
        #mask.mask.hidden
          .message
            .progress.progress-striped.active
              .progress-bar(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 100%') Uploading
      li#step-controlling-page.step.hidden
        .header Go to Your Controlling Page
        .content
          .thumbnail
            img(src='/img/slide-thumbnail-example.jpg')
          a#btn-control.btn.btn-info.btn-lg(href='#', target="_blank") Go Control!
      li#step-share.step.hidden
        .header Share to Your Audience
        .content
          img(src='/img/QRCode.jpg')
          .share-link Link: 
            a(href='#') http://fakeurl.to.slides
