<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/bootflat.min.css">
  <link rel="stylesheet" href="/stylesheets/dashboard.css">
</head>
<body>

<div class="container">
  <div class="content-items">
    <div class="row">
      <div class="col-md-3">
        <div class="item-info panel panel-warning">
          <div class="panel-heading">
            <h3 class="panel-title">幻灯片信息</h3>
          </div>
          <div class="panel-body">
            <p>名称: 哈哈</p>
            <p>页数: 44</p>
            <p>创建时间: 2014-xx-xx</p>
          </div>
        </div>
      </div>

      <div class="col-md-9">
        <div class="row">
          <div class="col-md-6">
            <div class="jumbotron">
              <div class="jumbotron-photo">
                <img src="/images/tmp/img0.jpg" alt="">
              </div>
              <div class="jumbotron-contents">
                <span class="ppt-name">PPT Name</span>
                <button class="btn btn-primary pull-right">发布</button>
              </div>
            </div>
          </div>  

          <div class="col-md-6">
            <div class="jumbotron">
              <div class="jumbotron-photo">
                <img src="/images/tmp/img1.jpg" alt="">
              </div>
              <div class="jumbotron-contents">
                <span class="ppt-name">PPT Name</span>
                <button class="btn btn-primary pull-right">发布</button>
              </div>
            </div>
          </div>  

        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="jumbotron">
              <div class="jumbotron-photo">
                <img src="/images/tmp/img2.jpg" alt="">
              </div>
              <div class="jumbotron-contents">
                <span class="ppt-name">PPT Name</span>
                <button class="btn btn-primary pull-right">发布</button>
              </div>
            </div>
          </div>  

          <div class="col-md-6">
            <div class="jumbotron">
              <div class="jumbotron-photo">
                <img src="/images/tmp/img3.jpg" alt="">
              </div>
              <div class="jumbotron-contents">
                <span class="ppt-name">PPT Name</span>
                <button class="btn btn-primary pull-right">发布</button>
              </div>
            </div>
          </div>  

        </div>

      </div>
    </div>
  </div>
</div>

</body>
</html>
