<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Explore</title>
  <!-- Sets initial viewport load and disables zooming  -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/dist/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/dist/slick.css"/>
  <link rel="stylesheet" href="/stylesheets/dist/font-awesome.css"/>
  <link rel="stylesheet" href="/stylesheets/site.css"/>
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
  <!--[if lt IE 9]>
  <link rel="stylesheet" href="../stylesheets/dist/font-awesome-ie7.css"/>
  <link rel="stylesheet" href="../stylesheets/ie.css"/>
  <script src="../javascripts/html5shiv.js"></script>
  <script src="../javascripts/respond.min.js"></script>
  <![endif]-->
</head>
<body>
<div id="wrap">
  <% include layouts/header %>
    <div id="content" class="container">
    <div class="search-container">
      <ul class="search-list">
        <li class="search-list-item">
          <div class="activity-item">
            <div class="time-card">
              <div class="date">2014/01/01</div>
              <div class="time">00:00:00</div>
            </div>
            <div class="content">
              <div class="header">
                <a href="">
                  <img class="photo" src="/images/thumbnail.jpg" alt="not found"/>
                  <strong class="title">Title</strong>
                </a>
              </div>
              <div class="description">
                <p>descriptiondescriptiondescriptiondescriptiondescription</p>
              </div>
              <div class="item-footer">
                <ul>
                  <li><a href="">test</a></li>
                  <li><a href="">test</a></li>
                </ul>
              </div>
            </div>

          </div>
        </li>
        <li class="search-list-item">
          <div class="activity-item">
            <div class="time-card">
              <div class="date">2014/01/01</div>
              <div class="time">00:00:00</div>
            </div>
            <div class="content">
              <div class="header">
                <a href="">
                  <img class="photo" src="/images/thumbnail.jpg" alt="not found"/>
                  <strong class="title">Title</strong>
                </a>
              </div>
              <div class="description">
                <p>descriptiondescriptiondescriptiondescriptiondescription</p>
              </div>
              <div class="item-footer">
                <ul>
                  <li><a href="">test</a></li>
                  <li><a href="">test</a></li>
                </ul>
              </div>
            </div>

          </div>
        </li>

        <li class="search-list-item">
          <div class="activity-item">
            <div class="time-card">
              <div class="date">2014/01/01</div>
              <div class="time">00:00:00</div>
            </div>
            <div class="content">
              <div class="header">
                <a href="">
                  <img class="photo" src="/images/thumbnail.jpg" alt="not found"/>
                  <strong class="title">Title</strong>
                </a>
              </div>
              <div class="description">
                <p>descriptiondescriptiondescriptiondescriptiondescription</p>
              </div>
              <div class="item-footer">
                <ul>
                  <li><a href="">test</a></li>
                  <li><a href="">test</a></li>
                </ul>
              </div>
            </div>

          </div>
        </li>

        <li class="search-list-item">
          <div class="activity-item">
            <div class="time-card">
              <div class="date">2014/01/01</div>
              <div class="time">00:00:00</div>
            </div>
            <div class="content">
              <div class="header">
                <a href="">
                  <img class="photo" src="/images/thumbnail.jpg" alt="not found"/>
                  <strong class="title">Title</strong>
                </a>
              </div>
              <div class="description">
                <p>descriptiondescriptiondescriptiondescriptiondescription</p>
              </div>
              <div class="item-footer">
                <ul>
                  <li><a href="">test</a></li>
                  <li><a href="">test</a></li>
                </ul>
              </div>
            </div>

          </div>
        </li>
      </ul>
    </div>
    <div class="pages">
      <ul class="pagination">
        <li><a href="#">&laquo;</a></li>
        <li><a href="">1</a></li>
        <li><a href="">2</a></li>
        <li><a href="">3</a></li>
        <li><a href="#">&raquo;</a></li>
      </ul>
    </div>
  </div>
</div>

<% include layouts/footer %>

<script src="/javascripts/jquery-1.11.0.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/site.js"></script>
</body>
</html>
