<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Try</title>
  <!-- Sets initial viewport load and disables zooming  -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/dist/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/dist/slick.css"/>
  <link rel="stylesheet" href="/stylesheets/dist/font-awesome.css"/>
  <link rel="stylesheet" href="/stylesheets/site.css"/>
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
  <!--[if lt IE 9]>
  <link rel="stylesheet" href="../stylesheets/dist/font-awesome-ie7.css"/>
  <link rel="stylesheet" href="../stylesheets/ie.css"/>
  <script src="../javascripts/html5shiv.js"></script>
  <script src="../javascripts/respond.min.js"></script>
  <![endif]-->
</head>
<body>

<div id="wrap">
  <% include layouts/header %>
  <div id="content" class="container">
    <ul class="steps">
      <li id="one" class="step">
        <p>First Step, Upload Your Slides</p>
        <input type="file" class="btn-default"/>
      </li>
      <li id="two" class="step">
        <p>Second Step, Enter into Controlling Page:</p>
        <a href="">http://www.example.com</a>
      </li>
      <li id="three" class="step">
        <p>Finally, Share the Url or the QR Code to Your Audience</p>
        <div class="">
          <img src="">
          <a></a>
        </div>
      </li>
    </ul>
  </div>
</div>

<% include layouts/footer %>

<script src="/javascripts/jquery-1.11.0.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/site.js"></script>
</body>
</html>
