script(src="/socket.io/socket.io.js")

script.
  var socket = io('#{domain}');

  Reveal.addEventListener('slidechanged', function(event) {
    socket.emit('changeTo', {indexh: event.indexh, indexv: event.indexv});
  });
