doctype html
html(lang="en")
  include ../includes/head
  body
    #wrap
      include ../includes/header
      block main

    // only include when user login
    include ../activity/new

    include ../includes/footer
    include ../includes/foot
